<div class="product-categories-area pb-70">
  <div class="container">
    <div class="section-title-btn-wrap mb-25">
      <div class="section-title-8">
        <h2>Danh mục sách</h2>
      </div>
    </div>
    <div class="section-wrap-1">
      <div class="product-categories-slider-1 nav-style-3">
        <div slickContainer #slickController="slick" [slickConfig]="config"
             class="hero-slider-active-2 nav-style-1 nav-style-1-modify-2 nav-style-1-orange">
          <ng-container *ngIf="slickController.initialize">
            <div class="product-plr-1" slickItem *ngFor="let category of categories">
              <div class="single-product-wrap">
                <div class="product-img product-img-border-transparent mb-15">
                  <a [routerLink]="['/category', category.id]">
                    <img [src]="category.image" alt="{{category.name}}">
                  </a>
                </div>
                <div class="product-content-categories-2 product-content-orange text-center">
                  <h5 class="font-width-dec"><a href="#">{{category.name}}</a></h5>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
