<div class="breadcrumb-area bg-gray">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <ul>
        <li>
          <a routerLink="/home">Trang chủ</a>
        </li>
        <li class="active">Chi tiết sản phẩm</li>
      </ul>
    </div>
  </div>
</div>
<div class="product-details-area pt-120 pb-115">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product-details-tab">
          <div class="pro-dec-big-img-slider">
            <div class="easyzoom-style">
              <div class="easyzoom easyzoom--overlay">
                <a [routerLink]="['/book', book.id]">
                  <img [src]="book.imgUrl" alt="" class="img">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product-details-content pro-details-content-mrg">
          <h2>{{book.name}}</h2>
          <div class="book-publisher">
            <span>Nhà xuất bản:</span>
            <span>{{book.publisher}}</span>
          </div>
          <div class="book-author">
            <span>Tác giả:</span>
            <span>{{book.author}}</span>
          </div>
          <div class="product-ratting-review-wrap">
            <div class="product-ratting-digit-wrap">
              <div class="product-ratting" *ngFor="let i of pointStar">
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <div class="product-ratting" *ngFor="let i of noPointStar">
                <i class="fa fa-star" aria-hidden="true" style="color: grey"></i>
              </div>
              <div class="product-digit">
                <span>{{book.pointStar}}/5</span>
              </div>
            </div>
            <div class="product-review-order">
              <span>{{book.numberRating}} đánh giá</span>
            </div>
          </div>
          <div class="pro-details-price">
            <span class="new-price">{{book.price | currency : "VNĐ" : ""}} đ</span>
          </div>
          <div class="pro-details-quality">
            <span>Số lượng:</span>
            <div class="cart-plus-minus">
              <div class="dec qtybutton" (click)="subQuantity()">-</div>
              <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" #amount>
              <div class="inc qtybutton" (click)="addQuantity()">+</div>
            </div>
          </div>
          <div class="pro-details-action-wrap">
            <div class="pro-details-add-to-cart">
              <a title="Add to Cart" (click)="addToCart(book.id, amount.value)">Add To Cart </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description-review-wrapper pb-110">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dec-review-topbar nav mb-45">
          <a class="active" data-toggle="tab" href="#des-details1">Chi tiết sách</a>
          <a data-toggle="tab" href="#des-details2">Thông số của sách</a>
          <a data-toggle="tab" href="#des-details4">Đánh giá</a>
        </div>
        <div class="tab-content dec-review-bottom">
          <div id="des-details1" class="tab-pane active">
            <div class="description-wrap">
              <p style="color: #333333">{{book.description}}</p>
            </div>
          </div>
          <div id="des-details2" class="tab-pane">
            <div class="specification-wrap table-responsive">
              <table>
                <tbody>
                <tr>
                  <td class="title width1">Tên sách</td>
                  <td>{{book.name}}</td>
                </tr>
                <tr>
                  <td class="title width1">Tác giả</td>
                  <td>{{book.author}}</td>
                </tr>
                <tr>
                  <td class="title width1">Nhà xuất bản</td>
                  <td>{{book.publisher}}</td>
                </tr>
                <tr>
                  <td class="title width1">Thể loại</td>
                  <td>{{book.category.name}}</td>
                </tr>
                <tr>
                  <td class="title width1">Khối lượng</td>
                  <td>{{book.weight}} gram</td>
                </tr>
                <tr>
                  <td class="title width1">Số trang</td>
                  <td>{{book.totalPages}}</td>
                </tr>
                <tr>
                  <td class="title width1">Năm xuất bản</td>
                  <td>{{book.yearPublish | date : "yyyy"}}</td>
                </tr>
                <tr>
                  <td class="title width1">Ngôn ngữ</td>
                  <td>{{book.language}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="des-details4" class="tab-pane">
            <div class="review-wrapper">
              <h2>1 đánh giá</h2>
              <div class="single-review">
                <div class="review-img">
                  <img src="assets/images/product-details/client-1.png" alt="">
                </div>
                <div class="review-content">
                  <div class="review-top-wrap">
                    <div class="review-name">
                      <h5><span>John Snow</span> - March 14, 2019</h5>
                    </div>
                    <div class="review-rating">
                      <i class="yellow icon_star"></i>
                      <i class="yellow icon_star"></i>
                      <i class="yellow icon_star"></i>
                      <i class="yellow icon_star"></i>
                      <i class="yellow icon_star"></i>
                    </div>
                  </div>
                  <p>
                    Sách rất là hay, đáng để mua. Mọi người nên tham khảo nhen.
                  </p>
                </div>
              </div>
            </div>
            <div class="ratting-form-wrapper">
              <span>Thêm đánh giá</span>
              <div class="ratting-form">
                <form action="#">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="rating-form-style mb-20">
                        <label>Tên <span>*</span></label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="rating-form-style mb-20">
                        <label>Email <span>*</span></label>
                        <input type="email">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="star-box-wrap">
                        <div class="single-ratting-star">
                          <a href="#"><i class="yellow icon_star"></i></a>
                        </div>
                        <div class="single-ratting-star">
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                        </div>
                        <div class="single-ratting-star">
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                        </div>
                        <div class="single-ratting-star">
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                        </div>
                        <div class="single-ratting-star">
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                          <a href="#"><i class="yellow icon_star"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="rating-form-style mb-20">
                        <label>Đánh giá <span>*</span></label>
                        <textarea name="Đánh giá của ban"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-submit">
                        <input type="submit" value="Đánh giá">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="related-product pb-115">
  <div class="container">
    <div class="section-title mb-45 text-center">
      <h2>Sách cùng tác giả</h2>
    </div>
    <div class="product-area section-padding-1 pb-75">
      <div class="container-fluid">
        <div class="tab-content jump">
          <div class="tab-content jump">
            <div id="product-1" class="tab-pane active">
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let book of books.content">
                  <div class="single-product-wrap mb-35">
                    <div class="product-img product-img-zoom mb-20">
                      <a [routerLink]="['/book', book.id]">
                        <img [src]="book.imgUrl" alt="Anh sach">
                      </a>
                      <div class="product-action-wrap">
                        <div class="product-action-left">
                          <button style="font-size: 13px !important;"><i class="icon-basket-loaded"></i>Thêm vào giỏ
                            hàng
                          </button>
                        </div>
                        <div class="product-action-right tooltip-style">
                          <button data-toggle="modal" data-target="#exampleModal"><i
                            class="icon-size-fullscreen icons"></i><span>Xem nhanh</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-content-left">
                        <h4><a href="product-details.html" class="product-name">{{book.name}}</a></h4>
                        <div class="product-price">
                          <span class="price">{{book.price| currency : "VNĐ":""}} đ</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
