<section class="body_section">
  <div class="slider-area bg-gray-10">
    <div class="container">
      <div>

        <div slickContainer #slickController="slick" [slickConfig]="config"
             class="hero-slider-active-2 nav-style-1 nav-style-1-modify-2 nav-style-1-orange">
          <ng-container *ngIf="slickController.initialize">
            <div class="single-hero-slider single-hero-slider-hm10 single-animation-wrap" slickItem
                 *ngFor="let item of images">
              <div class="row slider-animated-1">
                <div class="col-lg-5 col-md-5 col-12 col-sm-12">
                  <div class="hero-slider-content-6 slider-content-hm9 slider-content-hm10">
                    <h5 class="animated">Best Seller</h5>
                    <h1 class="animated">new ipad pro <br>& phone x</h1>
                    <p class="animated">Prodctect your house with home secure wifi camere indoor/outdoor</p>
                    <div class="btn-style-1">
                      <a class="animated btn-1-padding-4 btn-1-orange btn-1-font-14" href="product-details.html">Explore
                        Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-12 col-sm-12">
                  <div class="hm10-hero-slider-img">
                    <img class="animated" src="{{item}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="service-area pt-100 pb-70">
  <div class="container">
    <div class="service-wrap">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="single-service-wrap mb-30">
            <div class="service-icon">
              <i class="icon-cursor"></i>
            </div>
            <div class="service-content">
              <h3>Miễn phí vận chuyển</h3>
              <span>Đơn hàng lớn hơn 500.000 VNĐ</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="single-service-wrap mb-30">
            <div class="service-icon">
              <i class="icon-reload"></i>
            </div>
            <div class="service-content">
              <h3>Hoàn trả miễn phí</h3>
              <span>Trong 30 ngày</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="single-service-wrap mb-30">
            <div class="service-icon">
              <i class="icon-lock"></i>
            </div>
            <div class="service-content">
              <h3>100% an toàn</h3>
              <span>Thanh toán online</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="single-service-wrap mb-30">
            <div class="service-icon">
              <i class="icon-tag"></i>
            </div>
            <div class="service-content">
              <h3>Giá cả hợp lý</h3>
              <span>Đảm bảo chất lượng</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-list-category></app-list-category>

<div class="product-area section-padding-1 pb-75">
  <div class="container">
    <div class="section-title-tab-wrap mb-45">
      <div class="section-title">
        <h2>Xu hướng mua sắm</h2>
      </div>
      <div class="tab-style-1 nav">
        <a class="active" href="#product-1" data-toggle="tab">Xu hướng theo ngày </a>
        <a href="#product-2" data-toggle="tab">Sách HOT - Giảm sốc</a>
        <a href="#product-3" data-toggle="tab">Bestseller Ngoại văn </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="tab-content jump">
      <div class="tab-content jump">
        <div id="product-1" class="tab-pane active">
          <div class="row book-hot bg-white">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let book of books">
              <div class="single-product-wrap mb-35">
                <div class="product-img product-img-zoom mb-20">
                  <a [routerLink]="['/book', book.id]">
                    <img [src]="book.imgUrl" alt="Anh sach">
                  </a>
                  <div class="product-action-wrap">
                    <div class="product-action-left">
                      <button style="font-size: 13px !important;"><i class="icon-basket-loaded"></i>Thêm vào giỏ hàng
                      </button>
                    </div>
                    <div class="product-action-right tooltip-style">
                      <button data-toggle="modal" data-target="#exampleModal" (click)="changeBook(book.id)"><i
                        class="icon-size-fullscreen icons"></i><span>Xem nhanh</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="product-content-wrap">
                  <div class="product-content-left">
                    <h4><a href="product-details.html" class="product-name">{{book.name}}</a></h4>
                    <div class="product-price">
                      <span class="price">{{book.price| currency : "VNĐ":""}} đ</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-12 col-sm-12">
            <div class="tab-content quickview-big-img">
              <div id="pro-1" class="tab-pane fade show active">
                <!--                <img alt="">-->
              </div>
            </div>
            <!--            <div class="quickview-wrap mt-15">-->
            <!--              <div class="quickview-slide-active nav-style-6">-->
            <!--                <a class="active" data-toggle="tab" href="#pro-1"><img src="assets/images/product/quickview-s1.jpg" alt=""></a>-->
            <!--                <a data-toggle="tab" href="#pro-2"><img src="assets/images/product/quickview-s2.jpg" alt=""></a>-->
            <!--                <a data-toggle="tab" href="#pro-3"><img src="assets/images/product/quickview-s3.jpg" alt=""></a>-->
            <!--                <a data-toggle="tab" href="#pro-4"><img src="assets/images/product/quickview-s2.jpg" alt=""></a>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
          <div class="col-lg-7 col-md-6 col-12 col-sm-12">
            <div class="product-details-content quickview-content">
              <h2>NAME</h2>
              <div class="product-ratting-review-wrap">
                <div class="product-ratting-digit-wrap">
                  <div class="product-ratting">
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                  </div>
                  <div class="product-digit">
                    <span>5</span>
                  </div>
                </div>
                <div class="product-review-order">
                  <span>62 Reviews</span>
                  <span>242 orders</span>
                </div>
              </div>
              <p>Price</p>
              <div class="pro-details-price">
                <span class="new-price">$75.72</span>
                <span class="old-price">$95.72</span>
              </div>
              <div class="pro-details-color-wrap">
                <span>Color:</span>
                <div class="pro-details-color-content">
                  <ul>
                    <li><a class="dolly" href="#">dolly</a></li>
                    <li><a class="white" href="#">white</a></li>
                    <li><a class="azalea" href="#">azalea</a></li>
                    <li><a class="peach-orange" href="#">Orange</a></li>
                    <li><a class="mona-lisa active" href="#">lisa</a></li>
                    <li><a class="cupid" href="#">cupid</a></li>
                  </ul>
                </div>
              </div>
              <div class="pro-details-size">
                <span>Size:</span>
                <div class="pro-details-size-content">
                  <ul>
                    <li><a href="#">XS</a></li>
                    <li><a href="#">S</a></li>
                    <li><a href="#">M</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">XL</a></li>
                  </ul>
                </div>
              </div>
              <div class="pro-details-quality">
                <span>Quantity:</span>
                <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                </div>
              </div>
              <div class="product-details-meta">
                <ul>
                  <li><span>Categories:</span> <a href="#">Woman,</a> <a href="#">Dress,</a> <a href="#">T-Shirt</a>
                  </li>
                  <li><span>Tag: </span> <a href="#">Fashion,</a> <a href="#">Mentone</a> , <a href="#">Texas</a></li>
                </ul>
              </div>
              <div class="pro-details-action-wrap">
                <div class="pro-details-add-to-cart">
                  <a title="Add to Cart" href="#">Add To Cart </a>
                </div>
                <div class="pro-details-action">
                  <a title="Add to Wishlist" href="#"><i class="icon-heart"></i></a>
                  <a title="Add to Compare" href="#"><i class="icon-refresh"></i></a>
                  <a class="social" title="Social" href="#"><i class="icon-share"></i></a>
                  <div class="product-dec-social">
                    <a class="facebook" title="Facebook" href="#"><i class="icon-social-facebook"></i></a>
                    <a class="twitter" title="Twitter" href="#"><i class="icon-social-twitter"></i></a>
                    <a class="instagram" title="Instagram" href="#"><i class="icon-social-instagram"></i></a>
                    <a class="pinterest" title="Pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- client logo slider -->
<section class="section">
  <div class="container">
    <div class="client-logo-slider align-self-center">
      <div slickContainer #slickController="slick" [slickConfig]="config1">
        <ng-container *ngIf="slickController.initialize">
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-1.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-2.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-3.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-4.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-5.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-1.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-2.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-3.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-4.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-5.png"
                 alt="client-logo">
          </a>
        </ng-container>
      </div>

    </div>
  </div>
</section>
