<section class="body_section">
  <div class="slider-area bg-gray-10">
    <div class="container">
      <div>

        <div slickContainer #slickController="slick" [slickConfig]="config"
             class="hero-slider-active-2 nav-style-1 nav-style-1-modify-2 nav-style-1-orange">
          <ng-container *ngIf="slickController.initialize">
            <div class="single-hero-slider single-hero-slider-hm10 single-animation-wrap" slickItem
                 *ngFor="let item of images">
              <div class="row slider-animated-1">
                <div class="col-lg-5 col-md-5 col-12 col-sm-12">
                  <div class="hero-slider-content-6 slider-content-hm9 slider-content-hm10">
                    <h5 class="animated">Flash sale</h5>
                    <h1 class="animated">Hot</h1>
                    <div class="btn-style-1">
                      <a class="animated btn-1-padding-4 btn-1-orange btn-1-font-14" href="product-details.html">Mua ngay</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-12 col-sm-12">
                  <div class="hm10-hero-slider-img">
                    <img class="animated" src="{{item}}" alt="{{item.name}}">
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="service-area pt-100 pb-70">
  <div class="container">
    <div class="service-wrap">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="single-service-wrap mb-30">
            <div class="service-icon">
              <i class="icon-cursor"></i>
            </div>
            <div class="service-content">
              <h3>Miễn phí vận chuyển</h3>
              <span>Đơn hàng lớn hơn 500.000 VNĐ</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="single-service-wrap mb-30">
            <div class="service-icon">
              <i class="icon-reload"></i>
            </div>
            <div class="service-content">
              <h3>Hoàn trả miễn phí</h3>
              <span>Trong 30 ngày</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="single-service-wrap mb-30">
            <div class="service-icon">
              <i class="icon-lock"></i>
            </div>
            <div class="service-content">
              <h3>100% an toàn</h3>
              <span>Thanh toán online</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="single-service-wrap mb-30">
            <div class="service-icon">
              <i class="icon-tag"></i>
            </div>
            <div class="service-content">
              <h3>Giá cả hợp lý</h3>
              <span>Đảm bảo chất lượng</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-list-category></app-list-category>

<div class="product-area section-padding-1 pb-75">
  <div class="container">
    <div class="section-title-tab-wrap mb-45">
      <div class="section-title">
        <h2>Sách mới nhất</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="tab-content jump">
      <div class="tab-content jump">
        <div id="product-1" class="tab-pane active">
          <div class="row book-hot bg-white">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let book of books">
              <div class="single-product-wrap mb-35">
                <div class="product-img product-img-zoom mb-20">
                  <a [routerLink]="['/book', book.id]">
                    <img [src]="book.imgUrl" alt="Anh sach">
                  </a>
                  <div class="product-action-wrap">
                    <div class="product-action-left">
                      <button style="font-size: 11px !important;" (click)="addToCart(book.id, 1)">
                        <i class="icon-basket-loaded"></i>Thêm vào giỏ hàng
                      </button>
                    </div>
                    <div class="product-action-right tooltip-style">
                      <button data-toggle="modal" data-target="#exampleModal" (click)="findById(book.id)"><i
                        class="icon-size-fullscreen icons"></i><span>Xem nhanh</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="product-content-wrap">
                  <div class="product-content-left">
                    <h4><a href="product-details.html" class="product-name">{{book.name}}</a></h4>
                    <div class="product-price">
                      <span class="price">{{book.price| currency : "VNĐ":"" : '1.0-0'}} đ</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal quick view-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body" *ngIf="bookDetail">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-12 col-sm-12">
            <div class="tab-content quickview-big-img">
              <div id="pro-1" class="tab-pane fade show active">
                <img src="{{bookDetail.imgUrl}}" alt="{{bookDetail.name}}">
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-6 col-12 col-sm-12">
            <div class="product-details-content quickview-content">
              <h2>{{bookDetail.name}}</h2>
              <div class="product-ratting-review-wrap">
                <div class="product-ratting-digit-wrap">
                  <div class="product-ratting" *ngFor="let i of pointStar">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="product-ratting" *ngFor="let i of noPointStar">
                    <i class="fa fa-star" aria-hidden="true" style="color: grey"></i>
                  </div>
                  <div class="product-digit">
                    <span>{{bookDetail.pointStar}} / 5</span>
                  </div>
                </div>
                <div class="product-review-order">
                  <span>{{bookDetail.numberRating}} đánh giá</span>
                </div>
              </div>
              <p>{{bookDetail.description}}</p>
              <div class="pro-details-price">
                <span class="new-price">{{bookDetail.price | currency : 'VNĐ' : '' : '1.0-0'}} đ</span>
              </div>
              <div class="pro-details-quality">
                <span>Số lượng:</span>
                <div class="cart-plus-minus">
                  <div class="dec qtybutton" (click)="subQuantity()">-</div>
                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" #amount>
                  <div class="inc qtybutton" (click)="addQuantity()">+</div>
                </div>
              </div>
              <div class="pro-details-action-wrap">
                <div class="pro-details-add-to-cart">
                  <a (click)="addToCart(bookDetail.id, amount.value)">Thêm vào giỏ hàng </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- client logo slider -->
<section class="section">
  <div class="container">
    <div class="client-logo-slider align-self-center">
      <div slickContainer #slickController="slick" [slickConfig]="config1">
        <ng-container *ngIf="slickController.initialize">
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-1.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-2.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-3.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-4.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-5.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-1.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-2.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-3.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-4.png"
                 alt="client-logo">
          </a>
          <a slickItem href="#" class="text-center d-block outline-0 p-5">
            <img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-5.png"
                 alt="client-logo">
          </a>
        </ng-container>
      </div>

    </div>
  </div>
</section>
